<div class="item item-calm item-icon-right item-icon-left item-divider" ng-click="friends.isCollapsedPending = !friends.isCollapsedPending">
  <i class="icon ion-android-person-add"></i>
  <i class="icon ion-android-arrow-dropdown button button-icon" style="color:white"></i>
  Pending Friends ({{friends.friendRequestsFromMe.length}})
</div>
<div class="ng-show" ng-show="!friends.isCollapsedPending">
<ion-scroll zooming="true" direction="y" style="max-height:250px">
<div class="list">
  <div ng-repeat="friendRequest in friends.friendRequestsFromMe | orderBy:'first_name'" class="item item-avatar-left item-button-right">
    <img ng-src="{{friendRequest.friend.avatar_url}}" ng-hide="!friendRequest.friend.avatar_url">
	<img ng-hide="friendRequest.friend.avatar_url" ng-src="content/images/profile_image.jpg">
    <h2>{{friendRequest.friend.first_name}} {{friendRequest.friend.last_name}}</h2>
    <i class="icon button button-icon ion-backspace-outline" ng-click="friends.deleteFriendRequest(friendRequest)"></i>
  </div>
</div>
