<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content edge-drag-threshold="100">
    <ion-nav-bar class="bar-calm">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view name="menuContent">
    </ion-nav-view>
  </ion-side-menu-content>


  <ion-side-menu side="right">

    <ion-header-bar class="bar-energized">

      <h1 class="title">Updown</h1>

    </ion-header-bar>

    <ion-content>

      <ion-list>

        <ion-item class="item item-icon-right" menu-close ui-sref="nav.home">
          Home
          <i class="icon ion-home"></i>
		</ion-item>
        <ion-item class="item item-icon-right" menu-close ui-sref="nav.profile">
          Profile
          <i class="icon ion-person"></i>
        </ion-item>
        <ion-item class="item item-icon-right" menu-close ui-sref="nav.friends">
          Friends
          <i class="icon ion-person-stalker"></i>
        </ion-item>
        <ion-item class="item item-icon-right" menu-close ui-sref="nav.locations">
          Locations
          <i class="icon ion-compass"></i>
        </ion-item>
		<ion-item class="item item-icon-right" menu-close ui-sref="nav.favorites">
          Favorites
          <i class="icon ion-star"></i>
        </ion-item>
		<ion-item class="item item-icon-right" menu-close ng-click="nav.customWorkout()">
          Custom Workout
          <i class="icon ion-ios-color-wand"></i>
        </ion-item>
		<ion-item class="item item-icon-right" menu-close ui-sref="nav.company">
          Teams
          <i class="icon ion-ios-people"></i>
        </ion-item>
        <ion-item class="item item-icon-right" menu-close ui-sref="nav.settings">
          Settings
          <i class="icon ion-gear-a"></i>
        </ion-item>
        <ion-item class="item item-icon-right" menu-close ui-sref="nav.logout">
          Logout
          <i class="icon ion-log-out"></i>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
