        


        <div class="modal-header text-center">
            <h3 class="modal-title">Welcome to Updown!</h3>
        </div>
        <div class="modal-body">
        <b>What's next?</b>
        </br>   

	<ol>
	  <li>Consider logging an initial set of <b>BODY STATS</b>. Updown needs your weight to properly calculate calories burned during your workouts.</li>
          </br>
          <img src="images/mybody.png" class="img-responsive center-block">
          </br>
          <li>Set up <b>LOCATIONS</b> where you commonly exercise. Updown uses info about your available equipment when designing your workouts.</li>
          </br>
          <img src="images/editlocations.png" class="img-responsive center-block">
          </br>
          <li>Try your first workout! Click <b>WORKOUT</b> to begin.</li>
          </br>
          <img src="images/workoutintro.png" class="img-responsive center-block">
          </br>
        </ol>
            
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="home()">Let's Go!</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>