<h3>Change Password</h3>

<button class="btn img-responsive btn-primary" ng-click="account.showPW =! account.showPW">Change Password</button>

<form name="pwChange" style="margin-top:20px" class="greywell" ng-show="account.showPW" novalidate>
  <div class="row" style="padding-top:20px">
    <div class="col-md-6">
      <div class="form-group" ng-class="{ 'has-error' : pwChange.current_password.$invalid && !pwChange.current_password.$pristine && pwChange.current_password.$touched}">
        <label>* Current Password:</label>
        <input ng-model="account.user.current_password" type="password" maxlength="25" ng-minlength="5" name="current_password" id="current_password" class="form-control" placeholder="Current Password" required></input>
        <p ng-show="pwChange.current_password.$invalid && !pwChange.current_password.$pristine && pwChange.current_password.$touched" class="help-block">Current password is at least 5 characters.</p>
      </div>
    </div>
	<div class="col-md-6">
      <div class="form-group" ng-class="{ 'has-error' : pwChange.password.$invalid && !pwChange.password.$pristine && pwChange.password.$touched}">
        <label>* New Password:</label>
        <input ng-model="account.user.password" ng-minlength="5" type="password" maxlength="25" name="password" id="password" class="form-control" placeholder="New Password" required></input>
        <p ng-show="pwChange.password.$invalid && !pwChange.password.$pristine && pwChange.password.$touched" class="help-block">Password must be at least 5 characters.</p>
      </div>
    </div>
	<div class="col-md-6">
      <div class="form-group" ng-class="{ 'has-error' : pwChange.password_confirmation.$invalid && !pwChange.password_confirmation.$pristine && pwChange.password_confirmation.$touched}">
        <label>* New Password Confirmation:</label>
        <input ng-model="account.user.password_confirmation" match="account.user.password" ng-minlength="5" type="password" maxlength="25" name="password_confirmation" id="password_confirmation" class="form-control" placeholder="New Password Confirmation" required></input>
        <p ng-show="pwChange.password_confirmation.$invalid && !pwChange.password_confirmation.$pristine && pwChange.password_confirmation.$touched" class="help-block">Passwords do not match.</p>
      </div>
    </div>
  </div>
   <button type="submit" ng-disabled="pwChange.$invalid" ng-click="account.submit(); account.showPW =! account.showPW" class="btn btn-warning img-responsive">Save Password Change</button>
</form>
