<ion-view view-title="Log Activity">

<form name="quickForm" id="quickForm" novalidate>

<ion-scroll direction="y" style="right: 0;top: 0;bottom:65px;left: 0;height:90vh;max-height:100vh">

<ion-scroll zooming="true" direction="y" style="max-height:60vh">

<div class="list" style="margin-top:70px">
  <label class="item item-radio item-avatar" ng-repeat="quickActivities in quickLog.quickActivities | orderBy:'name'" ng-class="{ 'has-error' : quickForm.activities.$invalid}"> 
    <input type="radio" ng-model="quickLog.request.quickActivityId" name="activities" value="{{quickActivities.id}}" required>
    <div class="radio-content">
      <div class="item-content">
        <img style="visibility:visible" ng-src="content/images/{{quickActivities.name | lowercase}}.png">
        <span style="margin-left:10px">{{quickActivities.name}}</span>
      </div>
      <i class="radio-icon calm ion-checkmark"></i>
    </div>
  </label>
  <div ng-show="quickForm.activities.$invalid && !quickForm.activities.$pristine && quickForm.activities.$touched" class="help-block item item-text-wrap">Activity is required.</div>
</div>
</ion-scroll>

<div class="list">
  <label class="item item-input" ng-class="{ 'has-error' : quickForm.time.$invalid && !quickForm.time.$pristine && quickForm.time.$touched}">
    <span class="input-label">* Time (mins):</span>
    <input class="text-right" style="padding-right:20px" type="number" name="time" ng-model="quickLog.request.duration" pattern="[0-9]*" min='5' max='180' step="5" id="time" placeholder="Time (required)" required>
  </label>
  <div ng-show="quickForm.time.$invalid && !quickForm.time.$pristine && quickForm.time.$touched" class="help-block item item-text-wrap">Time is required. Minimum: 5 minutes. Maximum: 180 minutes.</div>
</div>

<div class="list ng-show" ng-show="!quickLog.isCollapsed">
  <label class="item item-input item-select" style="margin-bottom:15px">
    <div class="input-label">
      Occurred:
    </div>
    <select ng-options="obj.number as obj.name for obj in quickLog.daysAgo" ng-model="quickLog.request.numberOfDaysAgo" name="quickLogTime" required>
    </select>
  </label>
  <label class="item item-input item-text-wrap" style="margin-bottom:15px">
    <span class="input-label">Description (optional):</span>
    <input class="text-right" ng-keydown="quickLog.blur($event)" ng-model="quickLog.request.description" "quickLog.request.description" type="text" maxlength="60" name="desc" id="desc" placeholder="Description"></input>
  </label>
  <label class="item item-input item-text-wrap ng-show"
    ng-show="quickLog.request.quickActivityId == 1 ||
	  quickLog.request.quickActivityId == 3 ||
	  quickLog.request.quickActivityId == 4 ||
	  quickLog.request.quickActivityId == 8 ||
	  quickLog.request.quickActivityId == 9 ||
	  quickLog.request.quickActivityId == 10 ||
	  quickLog.request.quickActivityId == 11 ||
	  quickLog.request.quickActivityId == 12 ||
	  quickLog.request.quickActivityId == 15"
    ng-class="{ 'has-error' : quickForm.distance_miles.$invalid && !quickForm.distance_miles.$pristine && quickForm.distance_miles.$touched}" style="margin-bottom:15px">
    <span class="input-label">Distance {{(quickLog.metric === "standard" ? "(miles)" : "(km)")}} (optional)</span>
    <input class="text-right" style="padding-right:20px" type="number" max="500" min="0" placeholder="1" name="distance_miles" id="distance_miles" ng-model="quickLog.request.distanceMiles"></input>
  </label>
  <div ng-show="quickForm.distance_miles.$invalid && !quickForm.distance_miles.$pristine && quickForm.distance_miles.$touched" class="help-block item item-text-wrap">{{(quickLog.metric === "standard" ? "(Miles)" : "(Km)")}} must be between 0 and 500.</div>
  <label class="item item-input item-text-wrap" ng-class="{ 'has-error' : quickForm.calories_burned.$invalid && !quickForm.calories_burned.$pristine && quickForm.calories_burned.$touched}" style="margin-bottom:15px">
    <span class="input-label">Cals Burned (optional)</span>
    <input class="text-right" style="padding-right:20px" ng-model="quickLog.request.caloriesBurned" type="number" pattern="[0-9]*" max="2000" min="0" placeholder="Cals Burned" name="calories_burned" id="calories_burned"></input>
  </label>
  <div ng-show="quickForm.calories_burned.$invalid && !quickForm.calories_burned.$pristine && quickForm.calories_burned.$touched" class="help-block item item-text-wrap">Calories must be between 0 and 2000.</div>
</div>

</ion-scroll>

<div class="tabs tabs-icon-top">
  <a class="tab-item" ng-click="quickLog.isCollapsed = !quickLog.isCollapsed; quickLog.scrollBottom()">
    <i class="icon calm ion-clipboard"></i>
    Workout Details
  </a>
  <a class="tab-item" ng-disabled="quickForm.$invalid" ng-click="quickLog.createQuickLog()">
    <i class="icon calm ion-checkmark"></i>
    Log Activity
  </a>
</div>
</form>


</ion-view>
