<div class="row toppad">
  <div class="col-md-8 col-md-offset-2 text-center">
    <h2 class="textheader" style="display:inline">Summary </h2><button style="margin-bottom:10px" class="btn btn-sm btn-grey" ng-click="summary.infoClicked(summary, 0)"><img src="content/images/infoicon.png" style="height:15px; margin-bottom:6px"></button>
    <div collapse="summary.isCollapsed[0]">
      <div class="thinpurplewell">Look at all the stuff you just did! Hit "Done" to log the workout and get those sweet points. Then the computer magic will do its learning thing and adjust for what you just did.
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="form-group">
      <input type="text" onfocus="this.value='';" class="form-control text-center" tooltip="Optionally, name your workout." tooltip-trigger="focus" tooltip-placement="bottom" maxlength="35" ng-model="summary.workout.name">
    </div>
  </div>
</div>

<form action="#" method="POST" name="WorkoutPreview" novalidate>
  <div class="row">
    <div class="col-md-2 text-left">
      <h4><span class="orangetext">Time:</span> {{summary.helpers.timeString(summary.workout.total_time_seconds)}}</h4>
      </br>
    </div>
    <div class="col-md-8">
      <table class='table table-condensed well' ng-repeat="block in summary.workout.blocks track by $index" ng-init="$blockIndex = $index">
        <tr style="background-color: #EEF6FF;">
          <td colspan="4" style="padding-left:15px"><h4 style="display:inline;"><span class="orangetext" style="font-weight:bold">{{$blockIndex + 1}}.</span> {{block.exercise.name}} </h4>
          </td>
        </tr>
        <tr class='form-group-sm text-center form-inline' ng-repeat="blockSet in block.block_sets track by $index" ng-init="$blockSetIndex = $index">
          <td><img src="content/images/pencil_icon.png" tooltip="Edit values as needed." tooltip-trigger="mouseenter" tooltip-placement="bottom" style="height:10px; margin-bottom:1px; margin-right: -2px">
          </td>
          <td ng-repeat="(name, value) in blockSet.criterion | criterionDisplay as results" ng-class="{ 'has-error' : WorkoutPreview.workoutParams.$invalid && !WorkoutPreview.workoutParams.$pristine && WorkoutPreview.workoutParams.$touched}">
            <label class="small" style="margin-left:-10px">{{summary.criterionDisplayInfo[name].name}}</label>
            <input ng-model="blockSet.criterion[name]" name="workoutParams" ng-model-options="{ updateOn: 'change' }" ng-change="summary.updateBlockSet(name, blockSet, block)" type='number' min='0' max='999' onfocus="this.value='';" style="margin-left:-2px; padding-left:6px; padding-right:4px;" class='form-control' required>
          <td ng-hide="$blockSetIndex == block.block_sets.length-1 && $last" class="ng-hide">
          </td>
        </tr>
      </table>
    </div>
  </div>
</form>

<div class="row padfornav">
</div>

<nav class="navbar-fixed-bottom navbar navbar-inverse">
  <div class="container-fluid hidden-xs text-center">
     <button type="button" class="btn btn-primary navbar-btn btn-lg img-responsive" ng-disabled="summary.isReadonly" ng-click="summary.createFavorite(); summary.isReadonly = !summary.isReadonly">Favorite <img src="content/images/starIcon.png" style="height:18px; margin-bottom:3px;"></button>
     <button type="button" class="btn btn-primary navbar-btn btn-lg img-responsive" ng-disabled="WorkoutPreview.$invalid || summary.isReadonlytwo || summary.workout['blocks'].length < 1" ng-click="summary.finish(); summary.isReadonlytwo = !summary.isReadonlytwo">Done<img src="content/images/start.png" style="height:18px; margin-bottom:1px;"></button>
  </div>
  <div class="container-fluid hidden-md hidden-lg hidden-sm text-center">
     <button type="button" class="btn btn-primary navbar-btn img-responsive" ng-disabled="summary.isReadonly" ng-click="summary.createFavorite(); summary.isReadonly = !summary.isReadonly">Favorite <img src="content/images/starIcon.png" style="height:18px; margin-bottom:3px;"></button>
     <button type="button" class="btn btn-primary navbar-btn img-responsive" ng-disabled="WorkoutPreview.$invalid || summary.isReadonlytwo || summary.workout['blocks'].length < 1" ng-click="summary.finish(); summary.isReadonlytwo = !summary.isReadonlytwo">Done <img src="content/images/start.png" style="height:18px; margin-bottom:1px;"></button>
  </div>
</nav>
