<ion-view view-title="Review">
  
<form action="#" method="POST" name="WorkoutReview" novalidate>
<ion-content style="margin-bottom:65px;">

<div class="list" style="margin-top:15px">
  <label class="item item-input item-text-wrap">
    <span class="input-label">Name:</span>
    <input type="text" maxlength="45" ng-model="summary.workout.name">
  </label>
</div>

<div class="row" style="margin-top:-10px">
  <div class="col">
    <div class="list card text-center">
      <h5>Time: {{summary.helpers.timeString(summary.workout.total_time_seconds)}}</h5>
      <h5>Calories Burned: {{summary.workout.calories_burned | number:0}}</h5>
    </div> 
  </div>
</div>

<ion-list>
  <ion-item ng-repeat="block in summary.workout.blocks track by $index" ng-init="$blockIndex = $index">
    <div class="row energized-bg" style="margin-bottom:20px">
      <div class="col item-text-wrap">
        <h3>{{$blockIndex + 1}}. {{block.exercise.name}}</h3>
      </div>
    </div>
    <div class="row" style="margin-top:-20px;margin-bottom:-20px" ng-repeat="blockSet in block.block_sets track by $index" ng-init="$blockSetIndex = $index">
      <div class="col" ng-repeat="name in blockSet.criterion | criterionDisplay as results" ng-class="{ 'has-error' : WorkoutReview.workoutParams.$invalid}">
        <label class="item-input-wrapper calm-light-bg input-sm" style="padding-left:4px; padding-right:0px">
          <span style="padding-right:0px" class="input-label input-label-sm">{{summary.criterionDisplayInfo[name].name}}</span>
          <input class="item-input-wrapper calm-light-bg" style="padding-right:0px" ng-model="blockSet.criterion[name]" ng-readonly="name==='rest'" name="workoutParams" id="workoutParams" ng-model-options="{ updateOn: 'change' }" ng-change="summary.updateBlockSet(name, blockSet, block)" type='number' min='0' max='999' required>
          <i class="icon ion-edit" style="font-size:12px;color:grey;padding-right:2px;"></i>
        </label>
      </div>
    </div>
  </ion-item>
</ion-list>

</ion-content>

<div class="tabs tabs-icon-top">
  <a class="tab-item ng-hide" ng-hide="summary.isGuest" ng-disabled="summary.isReadonly" ng-click="summary.createFavorite()">
    <i id="favoriteIconSummary" class="icon ion-star"></i>
    Favorite
  </a>
  <a class="tab-item" ng-disabled="WorkoutReview.$invalid || summary.workout['blocks'].length < 1" ng-click="summary.finish()">
    <i class="icon calm ion-checkmark"></i>
    Finish
  </a>
</div>
</form>

</ion-view>
