<div class="row" style="padding-top:10px">
</div>

<div class="row text-center">
  <div class="col">
    <img src="content/images/updown_symbol.png" style="height:40px">
  </div>
</div>

<div class="row" style="padding-top:10px">
</div>

<div class="row text-center">
  <div class="col">
    <h3>Warning!</h3>
  </div>
</div>

<div class="row" style="padding-top:10px">
</div>

<div class="row text-center">
  <div class="col">
    <p>{{data.sentence}}</p>
  </div>
</div>

<div class="row text-center">
  <div class="col">
    <button class="button button-block button-calm" ng-disabled="isReadonlytwo" ng-click="cancel(); isReadonlytwo =! isReadonlytwo">Close</button>
  </div>
  <div class="col">
    <button class="button button-block button-energized" ng-disabled="isReadonlytwo" ng-click="continueTask(); isReadonlytwo =! isReadonlytwo">Continue</button>
  </div>
</div>
