<div class="row" style="padding-top:10px">
</div>

<div class="row text-center">
  <div class="col">
    <img src="content/images/updown_symbol.png" style="height:40px">
  </div>
</div>

<div class="row" style="padding-top:10px">
</div>

<div class="row text-center">
  <div class="col">
    <h3>Warning!</h3>
  </div>
</div>

<div class="row" style="padding-top:10px">
</div>

<div class="row text-center">
  <div class="col">
    <p>Are you sure you wish to leave? If so, changes will most likely be lost.</p>
  </div>
</div>

<div class="row text-center">
  <div class="col">
    <button class="button button-block button-calm" ng-click="cancel()">No</button>
  </div>
  <div class="col">
    <button class="button button-block button-energized" ng-click="ok()">Yes</button>
  </div>
</div>
