<ion-content>

<div class="row" style="padding-top:30px">
</div>

<div class="card">
  <div class="item item-divider item-icon-left">
    <i class="icon ion-alert-circled"></i>
    Warning!
  </div>
  <div class="item item-text-wrap assertive">
    Are you sure you wish to leave? If so, changes will be lost.
  </div>
  <div class="row item item-divider item-text-wrap text-center">
    <div class="col">
      <button class="button button-block button-calm" ng-click="cancel()">No</button>
	</div>
	<div class="col">
	  <button class="button button-block button-energized" ng-click="ok()">Yes</button>
	</div>
  </div>
</div>

</ion-content>