<div class="modal-header text-center">
  <h3 class="modal-title">Congratulations!</h3>
</div>
<div class="modal-body text-center text-danger">
  You reached level {{data.level.value}}!
</div>
<div class="modal-footer">
  <button class="btn btn-lg center-block img-responsive btn-primary" ng-click="cancel(); isReadonlytwo =! isReadonlytwo">Home</button>
  <a ng-click="fbShareLevel(data)" style="padding:0px" class="btn btn-lg pull-right"><img src="content/images/share_on_facebook_button.png" style="width:100%"></img></a>
</div>
